.home-split-line {
	background-color: black;
	height: 3px;
	width: 100%;
	margin-bottom: 50px;
}

.musical-container,
.gaming-loops-container {
	display: flex;
	justify-content: space-evenly;
	align-items: start;
	padding: 30px 0;
	margin-bottom: 50px;
	border-radius: 30px;
	background-color: rgb(37, 37, 37);
	box-shadow: 0 0 20px black;
}

.musical-text-content,
.gaming-loops-text-content {
	display: flex;
	flex-direction: column;
	color: white;
	margin: 0 30px 0 30px;
}

.gaming-loops-text-content {
	align-items: center;
	text-align: center;
	justify-content: center;
	height: 100%;
}

.musical-text-content a {
	text-decoration: none;
	color: rgb(0, 197, 211);
	font-weight: bold;
	cursor: pointer;
}

.tiffany-img {
	width: 30%;
	height: 30%;
	border-radius: 25px;
	margin-left: 30px;
	box-shadow: 0px 0px 10px black;
}
.illusion-video {
	position: relative;
	margin-top: 10px;
	width: 330px;
}

.gaming-loops-img {
	width: 40%;
	height: 40%;
	border-radius: 25px;
	margin-right: 30px;
	box-shadow: 0px 0px 10px black;
}

.gaming-loops-shop {
	padding: 20px;
	text-transform: uppercase;
}
.gaming-loops-shop button {
	background-color: rgb(32, 32, 32);
	border: 3px solid black;
	padding: 20px;
	cursor: pointer;
	color: white;
	font-weight: bold;
	border-radius: 10px;
	font-size: 15px;
	transition: 0.2s;
}

.gaming-loops-shop button:hover {
	background-color: rgb(51, 51, 51);
}

@media (max-width: 992px) {
}

@media (max-width: 700px) {
	.tiffany-img,
	.gaming-loops-img {
		margin: 0;
		width: 280px;
	}

	.musical-container,
	.gaming-loops-container {
		flex-direction: column;
		align-items: center;
	}

	.musical-text-content,
	.gaming-loops-text-content {
		align-items: center;
		text-align: center;
	}
}
