.home-split-line {
  background-color: black;
  height: 3px;
  width: 100%;
  margin-bottom: 50px;
}

.musical-container {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  padding: 30px 0;
  margin-bottom: 50px;
  border-radius: 30px;
  background-color: rgb(37, 37, 37);
  box-shadow: 0 0 20px black;
}
.musical-container .musical-text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 0 30px 0 30px;
  text-align: center;
}
.musical-container .musical-text-content h2 {
  animation: glowing 1.5s ease-in-out infinite;
}
.musical-container .musical-text-content a {
  text-decoration: none;
  color: rgb(0, 197, 211);
  font-weight: bold;
  cursor: pointer;
}
.musical-container .musical-text-content .illusion-video {
  position: relative;
  margin-top: 10px;
  width: 330px;
}

.tiffany-img {
  width: 30%;
  height: 30%;
  border-radius: 25px;
  margin-left: 30px;
  box-shadow: 0px 0px 10px black;
}

.gaming-loops-container {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  padding: 30px 0;
  margin-bottom: 50px;
  border-radius: 30px;
  background-color: rgb(37, 37, 37);
  box-shadow: 0 0 20px black;
}
.gaming-loops-container .gaming-loops-text-content {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0 30px 0 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
}
.gaming-loops-container .gaming-loops-text-content h2 {
  animation: glowing 1.5s ease-in-out infinite;
}

.gaming-loops-img {
  width: 40%;
  height: 40%;
  border-radius: 25px;
  margin-right: 30px;
  box-shadow: 0px 0px 10px black;
}

.gaming-loops-shop {
  padding: 20px;
  text-transform: uppercase;
}
.gaming-loops-shop button {
  background-color: rgb(32, 32, 32);
  border: 3px solid black;
  padding: 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  font-size: 15px;
  transition: 0.2s;
}

.gaming-loops-shop button:hover {
  background-color: rgb(51, 51, 51);
}

.faustgeist-container {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  padding: 30px 0;
  margin-bottom: 50px;
  border-radius: 30px;
  background-color: rgb(37, 37, 37);
  box-shadow: 0 0 20px black;
}
.faustgeist-container .faustgeist-text-content {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0 30px 0 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
}
.faustgeist-container .faustgeist-text-content h2 {
  animation: glowing 1.5s ease-in-out infinite;
}
.faustgeist-container .faustgeist-text-content audio {
  margin-top: 20px;
}

.faustgeist-img {
  width: 90%;
  height: 90%;
  border-radius: 25px;
  margin-left: 30px;
  box-shadow: 0 0 10px black;
}

@media (max-width: 700px) {
  .tiffany-img,
.gaming-loops-img,
.faustgeist-img {
    margin: 0;
    width: 280px;
  }
  .musical-container,
.gaming-loops-container,
.faustgeist-container {
    flex-direction: column;
    align-items: center;
  }
  .musical-text-content,
.gaming-loops-text-content,
.faustgeist-text-content {
    align-items: center;
    text-align: center;
  }
}
@keyframes glowing {
  0% {
    color: aqua;
  }
  50% {
    color: rgb(98, 255, 255);
    text-shadow: 0 0 5px rgb(79, 255, 255);
  }
  100% {
    color: aqua;
  }
}