.home-container {
  background-color: rgb(37, 37, 37);
}
.home-container p {
  line-height: 24px;
}
.home-container h2 {
  animation: glowing 1.5s ease-in-out infinite;
}

.musical-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0;
  margin: 50px 0;
  border-radius: 30px;
  background-color: rgb(75, 75, 75);
  box-shadow: 0 0 30px rgb(15, 15, 15);
}
.musical-container a {
  text-decoration: none;
  color: rgb(0, 197, 211);
  font-weight: bold;
  cursor: pointer;
}
.musical-container .illusion-video {
  position: relative;
  margin-bottom: 10px;
  width: 330px;
}

.musical-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  margin: 0 50px 0 50px;
}

.tiffany-img {
  width: 30%;
  height: 30%;
  border-radius: 25px;
  margin-left: 30px;
}

.gaming-loops-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0;
  margin-bottom: 50px;
  border-radius: 30px;
  background-color: rgb(75, 75, 75);
  box-shadow: 0 0 30px rgb(15, 15, 15);
}

.gaming-loops-text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  margin: 0 50px 40px 50px;
  height: 100%;
}

.gaming-loops-img {
  width: 30%;
  height: 30%;
  border-radius: 25px;
  margin-left: 30px;
}

.gaming-loops-shop {
  padding: 20px 0 0 0;
  text-transform: uppercase;
}
.gaming-loops-shop button {
  background-color: rgb(75, 75, 75);
  border: 3px solid aqua;
  padding: 20px;
  cursor: pointer;
  color: aqua;
  font-weight: bold;
  border-radius: 10px;
  font-size: 15px;
  transition: 0.2s;
}

.gaming-loops-shop button:hover {
  background-color: rgb(46, 46, 46);
}

.faustgeist-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0;
  margin-bottom: 50px;
  border-radius: 30px;
  background-color: rgb(75, 75, 75);
  box-shadow: 0 0 30px rgb(15, 15, 15);
}
.faustgeist-container audio {
  margin-top: 20px;
}

.faustgeist-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  margin: 0 30px 0 50px;
  height: 100%;
}

.faustgeist-img {
  width: 30%;
  height: 30%;
  border-radius: 25px;
  margin-left: 30px;
}

@media (max-width: 700px) {
  .tiffany-img,
.gaming-loops-img,
.faustgeist-img {
    margin: 0;
    width: 280px;
  }
  .musical-container,
.gaming-loops-container,
.faustgeist-container {
    flex-direction: column;
    align-items: center;
  }
  .musical-text-content,
.gaming-loops-text-content,
.faustgeist-text-content {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .musical-text-content .illusion-video,
.gaming-loops-text-content .illusion-video,
.faustgeist-text-content .illusion-video {
    width: 300px;
  }
  .gaming-loops-text-content p {
    width: 300px;
  }
  .faustgeist-container {
    margin-bottom: 100px;
  }
  .faustgeist-text-content {
    margin: 0 10px;
  }
}
@keyframes glowing {
  0% {
    color: aqua;
  }
  50% {
    color: rgb(98, 255, 255);
    text-shadow: 0 0 5px rgb(79, 255, 255);
  }
  100% {
    color: aqua;
  }
}