.music-list-container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.music-list-container ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
}
.music-list-container ul li {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding: 20px 0;
  text-align: center;
}
.music-list-container ul li:nth-child(odd) {
  background-color: rgb(75, 75, 75);
}
.music-list-container ul li:nth-child(even) {
  background-color: rgb(61, 61, 61);
}
@media (max-width: 600px) {
  .music-list-container ul li {
    flex-direction: column;
    padding: 10px 0 20px;
  }
}
.music-list-container audio {
  height: 30px;
  width: 250px;
  color: black;
  margin: 0 30px 0 auto;
}
.music-list-container label {
  margin: 0 100px;
  color: aqua;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
}
.music-list-container span {
  color: white;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0px;
  margin-left: 50px;
}
@media (max-width: 992px) {
  .music-list-container label {
    margin: 0 10px;
  }
  .music-list-container audio {
    margin: 0 10px 0 auto;
  }
}
@media (max-width: 600px) {
  .music-list-container span {
    margin: 0;
    font-size: 14px;
  }
  .music-list-container label {
    font-size: 16px;
    margin: 0;
    padding-bottom: 10px;
  }
  .music-list-container audio {
    margin: 0;
  }
}