.nav-bar-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: rgb(58, 58, 58);
  overflow: visible;
}
.nav-bar-mobile .jrcompose-logo-container {
  margin-left: 30px;
  display: flex;
  align-items: center;
}
.nav-bar-mobile .jrcompose-logo-container .treble-clef-img {
  width: 35px;
}
.nav-bar-mobile .jrcompose-logo-container .jrcompose-span {
  font-size: 28px;
  color: white;
  font-family: "Hammersmith One", sans-serif;
  font-style: italic;
}
.nav-bar-mobile .burger-icon {
  display: block;
  padding: 3px 20px;
  background: none;
  border: none;
  font-size: 40px;
  color: aqua;
  cursor: pointer;
  transition: 0.2s;
}
.nav-bar-mobile .burger-icon:hover {
  color: rgb(98, 255, 255);
  text-shadow: 0 0 5px rgb(79, 255, 255);
}
.nav-bar-mobile .deactive {
  display: none;
}