.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: rgb(58, 58, 58);
}
.nav-bar .nav-btn-desktop {
  text-decoration: none;
  padding: 19px 50px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: aqua;
  transition: 0.2s;
}
.nav-bar .nav-btn-desktop:hover {
  color: rgb(98, 255, 255);
  text-shadow: 0 0 5px rgb(79, 255, 255);
}
.nav-bar .active {
  color: rgb(98, 255, 255);
  text-shadow: 0 0 5px rgb(79, 255, 255);
}