.nav-burger-container {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 400px;
  background-color: rgb(46, 46, 46);
  border-bottom-left-radius: 40px;
  border: 3px solid rgb(119, 255, 255);
  transition: 0.3s;
  z-index: 1;
}
.nav-burger-container .nav-btn-mobile {
  text-decoration: none;
  color: aqua;
  font-size: 25px;
  padding: 15px 0;
  width: 100px;
  text-align: center;
  transition: 0.2s;
}
.nav-burger-container .x-btn {
  display: block;
  margin: 0 0 0 auto;
  padding: 3px 20px;
  background: none;
  border: none;
  font-size: 50px;
  color: aqua;
  cursor: pointer;
  transition: 0.2s;
}
.nav-burger-container .x-btn:hover {
  color: rgb(98, 255, 255);
  text-shadow: 0 0 5px rgb(79, 255, 255);
}
.nav-burger-container .nav-btn-mobile:hover {
  color: rgb(98, 255, 255);
  text-shadow: 0 0 5px rgb(79, 255, 255);
}
.nav-burger-container .active {
  color: rgb(98, 255, 255);
  text-shadow: 0 0 5px rgb(79, 255, 255);
}