.nav-bar-desktop {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: rgb(58, 58, 58);
  z-index: 5;
  border-bottom: 3px solid black;
}
.nav-bar-desktop .jrcompose-logo-container-desktop {
  margin-left: 100px;
  display: flex;
  align-items: center;
}
.nav-bar-desktop .jrcompose-logo-container-desktop .treble-clef-img {
  width: 35px;
}
.nav-bar-desktop .jrcompose-logo-container-desktop .jrcompose-span {
  font-size: 28px;
  color: white;
  font-family: "Hammersmith One", sans-serif;
  font-style: italic;
}
@media (max-width: 1270px) {
  .nav-bar-desktop .jrcompose-logo-container-desktop .jrcompose-span {
    font-size: 18px;
  }
}
.nav-bar-desktop .desktop-nav-links {
  margin: 0 40px;
}
.nav-bar-desktop .desktop-nav-links .nav-btn-desktop {
  text-decoration: none;
  padding: 19px 30px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: aqua;
  transition: 0.2s;
}
.nav-bar-desktop .desktop-nav-links .nav-btn-desktop:hover {
  color: rgb(98, 255, 255);
  text-shadow: 0 0 5px rgb(79, 255, 255);
}
.nav-bar-desktop .desktop-nav-links .active {
  color: rgb(98, 255, 255);
  text-shadow: 0 0 5px rgb(79, 255, 255);
}
@media (max-width: 1270px) {
  .nav-bar-desktop .desktop-nav-links .nav-btn-desktop {
    padding: 19px 10px;
  }
}
.nav-bar-desktop .icons-container-desktop-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}
.nav-bar-desktop .icons-container-desktop-navigation .fa-brands {
  padding: 0 10px;
  font-size: 25px;
  color: rgb(156, 156, 156);
  cursor: pointer;
  transition: 0.2s;
}
.nav-bar-desktop .icons-container-desktop-navigation .fa-soundcloud:hover,
.nav-bar-desktop .icons-container-desktop-navigation .fa-youtube:hover,
.nav-bar-desktop .icons-container-desktop-navigation .fa-linkedin:hover,
.nav-bar-desktop .icons-container-desktop-navigation .fa-twitter:hover,
.nav-bar-desktop .icons-container-desktop-navigation .fa-spotify:hover {
  color: rgb(98, 255, 255);
  text-shadow: 0 0 5px rgb(79, 255, 255);
}