@import "./colors";

.musical-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 30px 0;
	margin-bottom: 50px;
	margin-top: 50px;
	border-radius: 30px;
	background-color: rgb(37, 37, 37);
	box-shadow: 0 0 20px black;

	p {
		line-height: 24px;
	}

	.musical-text-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		color: white;
		margin: 0 50px 0 50px;
		// text-align: center;

		h2 {
			animation: glowing 1.5s ease-in-out infinite;
		}

		a {
			text-decoration: none;
			color: rgb(0, 197, 211);
			font-weight: bold;
			cursor: pointer;
		}

		.illusion-video {
			position: relative;
			margin-top: 10px;
			width: 330px;
		}
	}
}

.tiffany-img {
	width: 30%;
	height: 30%;
	border-radius: 25px;
	margin-left: 30px;
	// box-shadow: 0px 0px 10px black;
}

.gaming-loops-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 30px 0;
	margin-bottom: 50px;
	border-radius: 30px;
	background-color: rgb(37, 37, 37);
	box-shadow: 0 0 20px black;

	p {
		line-height: 24px;
	}

	.gaming-loops-text-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		color: white;
		margin: 0 50px 40px 50px;

		// text-align: right;

		height: 100%;

		h2 {
			animation: glowing 1.5s ease-in-out infinite;
		}
	}
}

.gaming-loops-img {
	width: 30%;
	height: 30%;
	border-radius: 25px;
	margin-left: 30px;
	// box-shadow: 0px 0px 10px black;
}

.gaming-loops-shop {
	padding: 20px 0 0 0;
	text-transform: uppercase;

	button {
		background-color: rgb(37, 37, 37);
		border: 3px solid $first-color;
		padding: 20px;
		cursor: pointer;
		color: $first-color;
		font-weight: bold;
		border-radius: 10px;
		font-size: 15px;
		transition: 0.2s;
	}
}

.gaming-loops-shop button:hover {
	background-color: rgb(75, 75, 75);
}

.faustgeist-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 30px 0;
	margin-bottom: 50px;
	border-radius: 30px;
	background-color: rgb(37, 37, 37);
	box-shadow: 0 0 20px black;

	p {
		line-height: 24px;
	}

	.faustgeist-text-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		color: white;
		margin: 0 30px 0 50px;

		// text-align: center;

		height: 100%;

		h2 {
			animation: glowing 1.5s ease-in-out infinite;
		}

		audio {
			margin-top: 20px;
		}
	}
}

.faustgeist-img {
	width: 90%;
	height: 90%;
	border-radius: 25px;
	margin-left: 30px;
	// box-shadow: 0 0 10px black;
}

@media (max-width: 700px) {
	.tiffany-img,
	.gaming-loops-img,
	.faustgeist-img {
		margin: 0;
		width: 280px;
	}

	.musical-container,
	.gaming-loops-container,
	.faustgeist-container {
		flex-direction: column;
		align-items: center;
	}

	.musical-text-content,
	.gaming-loops-text-content,
	.faustgeist-text-content {
		align-items: center;
		text-align: center;
	}
}

@keyframes glowing {
	0% {
		color: $first-color;
	}

	50% {
		color: $hover-color;
		text-shadow: $hover-shadow;
	}
	100% {
		color: $first-color;
	}
}
