.nav-bar {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 60px;
	width: 100%;
	background-color: rgb(58, 58, 58);
	overflow: visible;

	.burger-icon {
		display: block;
		margin: 0 0 0 auto;
		padding: 3px 20px;
		background: none;
		border: none;
		font-size: 40px;
		color: $first-color;
		cursor: pointer;
		transition: 0.2s;
	}

	.burger-icon:hover {
		color: $hover-color;
		text-shadow: $hover-shadow;
	}

	.deactive {
		display: none;
	}
}
