@import "./colors";

.nav-bar-desktop {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 60px;
	width: 100%;
	background-color: rgb(58, 58, 58);

	.jrcompose-logo-container-desktop {
		margin-left: 100px;
		display: flex;
		align-items: center;

		.treble-clef-img {
			width: 35px;
		}

		.jrcompose-span {
			font-size: 28px;
			color: white;
			font-family: "Hammersmith One", sans-serif;
			font-style: italic;
		}
		@media (max-width: 1270px) {
			.jrcompose-span {
				font-size: 18px;
			}
		}
	}

	.desktop-nav-links {
		margin: 0 40px;

		.nav-btn-desktop {
			text-decoration: none;
			padding: 19px 30px;
			font-size: 15px;
			font-weight: bold;
			text-transform: uppercase;
			color: $first-color;
			transition: 0.2s;
		}

		.nav-btn-desktop:hover {
			color: $hover-color;
			text-shadow: $hover-shadow;
		}

		.active {
			color: $hover-color;
			text-shadow: $hover-shadow;
		}

		@media (max-width: 1270px) {
			.nav-btn-desktop {
				padding: 19px 10px;
			}
		}
	}

	.icons-container-desktop-navigation {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 100px;

		.fa-brands {
			padding: 0 10px;
			font-size: 25px;
			color: rgb(156, 156, 156);
			cursor: pointer;
			transition: 0.2s;
		}

		.fa-soundcloud:hover,
		.fa-youtube:hover,
		.fa-linkedin:hover,
		.fa-twitter:hover,
		.fa-spotify:hover {
			color: $hover-color;
			text-shadow: $hover-shadow;
		}
	}
}
