@import "./colors";

.nav-bar-mobile {
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
	height: 60px;
	width: 100%;
	background-color: rgb(58, 58, 58);
	overflow: visible;
	z-index: 5;

	.jrcompose-logo-container-mobile {
		margin-left: 15px;
		display: flex;
		align-items: center;

		.treble-clef-img {
			width: 35px;
		}

		.jrcompose-span {
			font-size: 20px;
			color: white;
			font-family: "Hammersmith One", sans-serif;
			font-style: italic;
		}

		@media (max-width: 550px) {
			.jrcompose-span {
				font-size: 14px;
			}
		}
	}

	.burger-icon {
		display: block;
		padding: 3px 20px;
		background: none;
		border: none;
		font-size: 40px;
		color: $first-color;
		cursor: pointer;
		transition: 0.2s;
	}

	.burger-icon:hover {
		color: $hover-color;
		text-shadow: $hover-shadow;
	}

	.deactive {
		display: none;
	}

	.icons-container-mobile-navigation {
		margin: 0 10px 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;

		.fa-brands {
			padding: 0 8px;
			font-size: 20px;
			color: rgb(156, 156, 156);
			cursor: pointer;
			transition: 0.2s;
		}

		.fa-soundcloud:hover,
		.fa-youtube:hover,
		.fa-linkedin:hover,
		.fa-twitter:hover,
		.fa-spotify:hover {
			color: $hover-color;
			text-shadow: $hover-shadow;
		}
	}
}
